.image-with-captions {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-with-captions img {
  padding: 30px;
  height: 400px;
  width: 400px;
}

.image-with-captions span {
  font-family: 'Athiti';
  font-size: 30px;
  padding: 20px;
}
